@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
/* Basic styles for the navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 50px;
    background-color: #d18500;

}

.logo {
    font-family: 'Inknut Antiqua',serif;
    width: 150px; /* Adjust logo size */
    color: #fff;
    font-size: 12px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    
    color: orange;
    text-decoration: underline;
    text-underline-position: auto;
    /* background-color: #444;
    border-radius: 5px; */
}

/* Auth Button Styles */
/* .li button {
    display: flex;
    gap: 10px;
} */

li button {
    padding: 8px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 30px;
    width: 150px;
}

.login-btn {
    background-color: #d18500;
    border: #fff solid 1px;
    color: white;
}

.login-btn:hover{
    background-color: #fff;
    color: #d18500;
    cursor: pointer;
}

.signup-btn {
    background-color: #fff;
    color: #d18500;
}

.signup-btn:hover{
    background-color: #d18500;
    color: #fff;
    border: #fff solid 1px;
}

.auth-buttons button:hover {
    opacity: 0.8;
}

.menu-toggle{
    position: static;
    display: none;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
        flex-direction: row;
        align-items: flex-start;
    }

    .logo  {
        width: 120px;
    }

    .nav-links {
        display: none; /* Hide links on mobile initially */
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
        padding: 10px 20px;
    }

    .nav-links li a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #444;
    }

    .nav-links li a:hover {
        background-color: #555;
    }

    .auth-buttons {
        flex-direction: column;
        width: 80%;
        margin-top: 10px;
        display: none;
    }

    li button {
        width: 70%;
        padding: 12px;
    }

    .navbar .menu-toggle {
        display: block;
        cursor: pointer;
        background-color: #d18500;
        color: white;
        padding: 10px;
        border: none;
        font-size: 18px;
        width: 100%;
        text-align: right;
    }
}

/* Show the menu when the menu toggle is clicked */
.show-menu {
    display: flex !important;
}
